@model IEnumerable<crm.Models.Currency>

@{
    ViewData["Title"] = "Currencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currencies</h1>

<p class="my-4">
    <a asp-action="Create" class="rounded-pill bg-primary py-1 px-3 text-white">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                Is sync
            </th>
            <th>
                Creation date
            </th>
            <th>
                Modification date
            </th>
            <th>
                Archive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.Ghosted ? "table-dark text-dark" : string.Empty)">
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Rate.HasValue)
                {
                    @Html.DisplayFor(modelItem => item.Rate)
                }
                else
                {
                    @:-
                }
            </td>
            <td>
                @if (item.IsSync)
                {
                    <span class="rounded-pill bg-success px-3">Yes</span>
                }
                else
                {
                    <span class="rounded-pill bg-warning px-3">No</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @if (item.Ghosted)
                {
                    <span class="rounded-pill bg-dark text-white px-3">Yes</span>
                }
                else
                {
                    <span class="rounded-pill bg-light px-3">No</span>
                }
            </td>
            <td>
                @if (!item.Ghosted)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="rounded-pill bg-primary py-1 px-3 text-white mr-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="rounded-pill bg-danger py-1 px-3 text-white">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
